@charset "UTF-8";
/* ----------------------------------------------------------
// Animation Keyframe
// ---------------------------------------------------------- */
@-webkit-keyframes loading-mask {
  0% {
    -webkit-transform: translateX(-100%) skew(-10deg);
    transform: translateX(-100%) skew(-10deg);
  }
  100% {
    -webkit-transform: translateX(100%) skew(-10deg);
    transform: translateX(100%) skew(-10deg);
  }
}
@keyframes loading-mask {
  0% {
    -webkit-transform: translateX(-100%) skew(-10deg);
    transform: translateX(-100%) skew(-10deg);
  }
  100% {
    -webkit-transform: translateX(100%) skew(-10deg);
    transform: translateX(100%) skew(-10deg);
  }
}

@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes menu-bar03 {
  0% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-4px) rotate(0);
    transform: translateY(0) translateX(-4px) rotate(0);
  }
}

@keyframes menu-bar03 {
  0% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-4px) rotate(0);
    transform: translateY(0) translateX(-4px) rotate(0);
  }
}

@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  40% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  40% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
}

@-webkit-keyframes active-menu-bar02 {
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes active-menu-bar02 {
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) translateX(-4px) rotate(0);
    transform: translateY(0) translateX(-4px) rotate(0);
  }
  40% {
    -webkit-transform: translateY(0) translateX(0) rotate(0);
    transform: translateY(0) translateX(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-7px) translateX(0) rotate(0);
    transform: translateY(-7px) translateX(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) translateX(-4px) rotate(0);
    transform: translateY(0) translateX(-4px) rotate(0);
  }
  40% {
    -webkit-transform: translateY(0) translateX(0) rotate(0);
    transform: translateY(0) translateX(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-7px) translateX(0) rotate(0);
    transform: translateY(-7px) translateX(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
}

.fw#home #container {
  padding-top: 0;
}

.fw#home #visual {
  height: -webkit-calc( 100vh - 60px);
  height: calc( 100vh - 60px);
}

@media screen and (max-width: 640px) {
  .fw#home #visual {
    height: auto;
  }
}

.fw#home #visual .visual-info .visual-info_inner {
  margin-top: 10px;
  padding: 9px 30px;
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: #007749;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

@media screen and (max-width: 640px) {
  .fw#home #visual .visual-info .visual-info_inner {
    margin-top: 1px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #visual .visual-info .visual-info_inner {
    padding: 20px 15px;
  }
}

.fw#home #visual .visual-info a {
  text-decoration: none !important;
}

.fw#home #visual .visual-info a:hover {
  color: #fff;
  background-color: #008c56;
}

.fw#home #visual .visual-info a .visual-info_txt:after {
  -webkit-transition: color .2s;
  transition: color .2s;
  font-size: 18px;
  content: "\EA0C";
  display: inline-block;
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 640px) {
  .fw#home #visual .visual-info a .visual-info_txt:after {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #visual .visual-info a .visual-info_txt:after {
    right: 15px;
  }
}

.fw#home #visual .visual-info .visual-info_label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.fw#home #visual .visual-info .a-icon {
  color: #fff;
}

@media screen and (min-width: 641px) {
  .fw#home #visual .visual-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    width: 1200px;
    z-index: 1;
    margin: auto;
  }
  .fw#home #visual .visual-info .visual-info_txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 25px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #visual .visual-info {
    min-width: 320px;
  }
  .fw#home #visual .visual-info .visual-info_inner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .fw#home #visual .visual-info a.visual-info_inner {
    padding-right: 35px;
  }
  .fw#home #visual .visual-info .visual-info_txt {
    width: 100%;
  }
}

.fw#home #visual .swiper-container .swiper-slide {
  overflow: hidden;
}

.fw#home #visual .swiper-container .swiper-slide > * {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

@media screen and (min-width: 641px) {
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img1 {
    background-image: url(/common/images/home/visual_img1_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img2 {
    background-image: url(/common/images/home/visual_img2_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img3 {
    background-image: url(/common/images/home/visual_img3_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img4 {
    background-image: url(/common/images/home/visual_img4_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img5 {
    background-image: url(/common/images/home/visual_img5_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img6 {
    background-image: url(/common/images/home/visual_img6_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img7 {
    background-image: url(/common/images/home/visual_img7_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img8 {
    background-image: url(/common/images/home/visual_img8_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img9 {
    background-image: url(/common/images/home/visual_img9_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img10 {
    background-image: url(/common/images/home/visual_img10_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img11 {
    background-image: url(/common/images/home/visual_img11_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img12 {
    background-image: url(/common/images/home/visual_img12_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img13 {
    background-image: url(/common/images/home/visual_img13_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img14 {
    background-image: url(/common/images/home/visual_img14_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img15 {
    background-image: url(/common/images/home/visual_img15_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img16 {
    background-image: url(/common/images/home/visual_img16_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img17 {
    background-image: url(/common/images/home/visual_img17_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img18 {
    background-image: url(/common/images/home/visual_img18_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img19 {
    background-image: url(/common/images/home/visual_img19_pc.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img20 {
    background-image: url(/common/images/home/visual_img20_pc.jpg);
  }
}

@media screen and (max-width: 640px) {
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img1 {
    background-image: url(/common/images/home/visual_img1_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img2 {
    background-image: url(/common/images/home/visual_img2_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img3 {
    background-image: url(/common/images/home/visual_img3_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img4 {
    background-image: url(/common/images/home/visual_img4_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img5 {
    background-image: url(/common/images/home/visual_img5_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img6 {
    background-image: url(/common/images/home/visual_img6_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img7 {
    background-image: url(/common/images/home/visual_img7_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img8 {
    background-image: url(/common/images/home/visual_img8_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img9 {
    background-image: url(/common/images/home/visual_img9_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img10 {
    background-image: url(/common/images/home/visual_img10_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img11 {
    background-image: url(/common/images/home/visual_img11_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img12 {
    background-image: url(/common/images/home/visual_img12_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img13 {
    background-image: url(/common/images/home/visual_img13_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img14 {
    background-image: url(/common/images/home/visual_img14_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img15 {
    background-image: url(/common/images/home/visual_img15_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img16 {
    background-image: url(/common/images/home/visual_img16_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img17 {
    background-image: url(/common/images/home/visual_img17_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img18 {
    background-image: url(/common/images/home/visual_img18_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img19 {
    background-image: url(/common/images/home/visual_img19_sp.jpg);
  }
  .fw#home #visual .swiper-container .swiper-slide > *.visual-img20 {
    background-image: url(/common/images/home/visual_img20_sp.jpg);
  }
}

@media screen and (max-width: 640px) {
  .fw#home #visual .swiper-container {
    height: 107vw;
  }
}

.fw#home #visual .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1px;
}

.fw#home #visual .swiper-pagination {
  width: 20%;
  bottom: 2vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .fw#home #visual .swiper-pagination {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #visual .swiper-pagination {
    bottom: 5vh;
  }
}

.fw#home #visual .swiper-pagination-bullet {
  cursor: pointer;
  opacity: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: auto;
  background-color: #666;
  height: 4px;
  border-radius: 0;
}

@media screen and (max-width: 640px) {
  .fw#home #visual .swiper-pagination-bullet {
    height: 2px;
  }
}

.fw#home #visual .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #007749;
}

.fw#home #pickup .pickup-img {
  height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .fw#home #pickup .pickup-img {
    height: 125px;
  }
}

.fw#home #pickup .pickup-img img {
  max-height: 100%;
}

.fw#home #pickup .a-label {
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .fw#home #pickup .a-label {
    margin-top: -8px;
  }
}

.fw#home #pickup .pickup-txt {
  margin-top: 6px;
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  .fw#home #pickup .pickup-txt {
    margin-top: 6px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #pickup .pickup-txt {
    font-size: 12px;
  }
}

.fw#home #pickup .pickup-model {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  line-height: 150%;
}

@media screen and (max-width: 640px) {
  .fw#home #pickup .pickup-model {
    font-size: 11px;
  }
}

.fw#home #pickup a {
  padding-bottom: 30px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

@media screen and (max-width: 640px) {
  .fw#home #pickup a {
    padding-bottom: 0;
  }
}

.fw#home #pickup a:hover {
  background-color: #f1f1f1;
  opacity: 1;
}

.fw#home #pickup a:hover .pickup-txt {
  color: #007749;
}

.fw#home #banner-top a {
  text-decoration: none !important;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fw#home #banner-top a:hover {
  opacity: 0.7;
}

.fw#home #banner-top a.banner-txt {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .fw#home #banner-top a.banner-txt {
    height: ６0px;
  }
}

.fw#home #banner-top a.banner-txt:last-child {
  border-right: none;
}

.fw#home #banner-top a.banner-txt .a-icon {
  margin: 0;
  margin-right: 15px;
  font-size: 26px;
}

@media screen and (max-width: 640px) {
  .fw#home #banner-top a.banner-txt .a-icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #banner-top a.banner-txt .a-icon {
    font-size: 16px;
  }
}

.fw#home #category .category-bg {
  background-color: #000;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-bg {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-bg {
    background-size: auto 150px;
    background-position: 50% 0;
  }
}

.fw#home #category .category-ttl {
  font-size: 24px;
  height: 360px;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-ttl {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-ttl {
    height: 150px;
  }
}

.fw#home #category .category-ttl .f-inner span:nth-child(1) {
  padding-top: 20px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-ttl .f-inner span:nth-child(1) {
    padding-top: 10px;
  }
}

.fw#home #category .category-ttl .f-inner span:nth-child(1):before {
  width: 70px;
  content: "";
  display: block;
  height: 1px;
  background-color: #007749;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-ttl .f-inner span:nth-child(1):before {
    width: 50px;
  }
}

.fw#home #category .category-list {
  position: relative;
  background-color: #fff;
  padding-bottom: 170px;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list {
    padding-bottom: 100px;
  }
}

.fw#home #category .category-list .category-more {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 1s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 1s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 1s, transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 1s, transform 0.3s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  bottom: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(/common/images/common/icon/circle_plus.png);
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-more {
    width: 40px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-more {
    height: 40px;
  }
}

.fw#home #category .category-list .category-more:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-more {
    bottom: 30px;
  }
}

.fw#home #category .category-list .category-more.open {
  background-image: url(/common/images/common/icon/circle_minus.png);
}

.fw#home #category .category-list a {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #d2d2d2;
  -webkit-transition: opacity .3s, background-color .3s, -webkit-transform .6s;
  transition: opacity .3s, background-color .3s, -webkit-transform .6s;
  transition: opacity .3s, transform .6s, background-color .3s;
  transition: opacity .3s, transform .6s, background-color .3s, -webkit-transform .6s;
  text-decoration: none !important;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list a {
    padding: 10px;
  }
}

.fw#home #category .category-list a:hover {
  background-color: #f1f1f1;
  color: #007749;
}

.fw#home #category .category-list a.show {
  display: inherit !important;
}

.fw#home #category .category-list a.fadein {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

.fw#home #category .category-list a.transition:nth-of-type(5) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.fw#home #category .category-list a.transition:nth-of-type(6) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.fw#home #category .category-list a.transition:nth-of-type(7) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.fw#home #category .category-list a.transition:nth-of-type(8) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.fw#home #category .category-list a.transition:nth-of-type(9) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.fw#home #category .category-list a.transition:nth-of-type(10) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.fw#home #category .category-list a.transition:nth-of-type(11) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.fw#home #category .category-list a.transition:nth-of-type(12) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.fw#home #category .category-list a.transition:nth-of-type(13) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.fw#home #category .category-list a.transition:nth-of-type(14) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.fw#home #category .category-list a.transition:nth-of-type(15) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.fw#home #category .category-list a.transition:nth-of-type(16) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.fw#home #category .category-list a.transition:nth-of-type(17) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.fw#home #category .category-list a.transition:nth-of-type(18) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.fw#home #category .category-list a.transition:nth-of-type(19) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.fw#home #category .category-list a.transition:nth-of-type(20) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.fw#home #category .category-list a.transition:nth-of-type(21) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

.fw#home #category .category-list a.transition:nth-of-type(22) {
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.fw#home #category .category-list a.transition:nth-of-type(23) {
  -webkit-transition-delay: 1.9s;
  transition-delay: 1.9s;
}

.fw#home #category .category-list a.transition:nth-of-type(24) {
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.fw#home #category .category-list a.transition:nth-of-type(25) {
  -webkit-transition-delay: 2.1s;
  transition-delay: 2.1s;
}

.fw#home #category .category-list a.transition:nth-of-type(26) {
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.fw#home #category .category-list a.transition:nth-of-type(27) {
  -webkit-transition-delay: 2.3s;
  transition-delay: 2.3s;
}

.fw#home #category .category-list a.transition:nth-of-type(28) {
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.fw#home #category .category-list a.transition:nth-of-type(29) {
  -webkit-transition-delay: 2.5s;
  transition-delay: 2.5s;
}

.fw#home #category .category-list a.transition:nth-of-type(30) {
  -webkit-transition-delay: 2.6s;
  transition-delay: 2.6s;
}

.fw#home #category .category-list a.transition:nth-of-type(31) {
  -webkit-transition-delay: 2.7s;
  transition-delay: 2.7s;
}

.fw#home #category .category-list a.transition:nth-of-type(32) {
  -webkit-transition-delay: 2.8s;
  transition-delay: 2.8s;
}

.fw#home #category .category-list a.transition:nth-of-type(33) {
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
}

.fw#home #category .category-list a.transition:nth-of-type(34) {
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
}

.fw#home #category .category-list a.transition:nth-of-type(35) {
  -webkit-transition-delay: 3.1s;
  transition-delay: 3.1s;
}

.fw#home #category .category-list a.transition:nth-of-type(36) {
  -webkit-transition-delay: 3.2s;
  transition-delay: 3.2s;
}

.fw#home #category .category-list a.transition:nth-of-type(37) {
  -webkit-transition-delay: 3.3s;
  transition-delay: 3.3s;
}

.fw#home #category .category-list a.transition:nth-of-type(38) {
  -webkit-transition-delay: 3.4s;
  transition-delay: 3.4s;
}

.fw#home #category .category-list a.transition:nth-of-type(39) {
  -webkit-transition-delay: 3.5s;
  transition-delay: 3.5s;
}

.fw#home #category .category-list a.transition:nth-of-type(40) {
  -webkit-transition-delay: 3.6s;
  transition-delay: 3.6s;
}

.fw#home #category .category-list a.transition:nth-of-type(41) {
  -webkit-transition-delay: 3.7s;
  transition-delay: 3.7s;
}

.fw#home #category .category-list a.transition:nth-of-type(42) {
  -webkit-transition-delay: 3.8s;
  transition-delay: 3.8s;
}

.fw#home #category .category-list a.transition:nth-of-type(43) {
  -webkit-transition-delay: 3.9s;
  transition-delay: 3.9s;
}

.fw#home #category .category-list a.transition:nth-of-type(44) {
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
}

.fw#home #category .category-list a.transition:nth-of-type(45) {
  -webkit-transition-delay: 4.1s;
  transition-delay: 4.1s;
}

.fw#home #category .category-list a.transition:nth-of-type(46) {
  -webkit-transition-delay: 4.2s;
  transition-delay: 4.2s;
}

.fw#home #category .category-list a.transition:nth-of-type(47) {
  -webkit-transition-delay: 4.3s;
  transition-delay: 4.3s;
}

.fw#home #category .category-list a.transition:nth-of-type(48) {
  -webkit-transition-delay: 4.4s;
  transition-delay: 4.4s;
}

.fw#home #category .category-list a.transition:nth-of-type(49) {
  -webkit-transition-delay: 4.5s;
  transition-delay: 4.5s;
}

.fw#home #category .category-list a.transition:nth-of-type(50) {
  -webkit-transition-delay: 4.6s;
  transition-delay: 4.6s;
}

.fw#home #category .category-list a.transition:nth-of-type(51) {
  -webkit-transition-delay: 4.7s;
  transition-delay: 4.7s;
}

.fw#home #category .category-list a.transition:nth-of-type(52) {
  -webkit-transition-delay: 4.8s;
  transition-delay: 4.8s;
}

.fw#home #category .category-list a.transition:nth-of-type(53) {
  -webkit-transition-delay: 4.9s;
  transition-delay: 4.9s;
}

.fw#home #category .category-list a.transition:nth-of-type(54) {
  -webkit-transition-delay: 5s;
  transition-delay: 5s;
}

@media screen and (min-width: 641px) {
  .fw#home #category .category-list a.f-flex3:nth-of-type(4n) {
    border-right: 1px solid #d2d2d2;
  }
  .fw#home #category .category-list a.f-flex3:nth-of-type(n+5) {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  .fw#home #category .category-list a.f-flex4:nth-of-type(3n) {
    border-right: 1px solid #d2d2d2;
  }
  .fw#home #category .category-list a.f-flex4:nth-of-type(n+4) {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  .fw#home #category .category-list a.f-flex2:nth-of-type(6n) {
    border-right: 1px solid #d2d2d2;
  }
  .fw#home #category .category-list a.f-flex2:nth-of-type(n+7) {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list a.f-flex6_s:nth-of-type(2n) {
    border-right: 1px solid #d2d2d2;
  }
  .fw#home #category .category-list a.f-flex6_s:nth-of-type(n+3) {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  .fw#home #category .category-list a.f-flex4:nth-of-type(3n) {
    border-right: 1px solid #d2d2d2;
  }
  .fw#home #category .category-list a.f-flex4:nth-of-type(n+4) {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  .fw#home #category .category-list a.f-flex2:nth-of-type(6n) {
    border-right: 1px solid #d2d2d2;
  }
  .fw#home #category .category-list a.f-flex2:nth-of-type(n+7) {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.fw#home #category .category-list .category-img {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-img {
    height: 135px;
  }
}

.fw#home #category .category-list .category-img img {
  max-height: 100%;
}

.fw#home #category .category-list .category-name {
  margin-top: 15px;
  padding-right: 25px;
  position: relative;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-name {
    margin-top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-name {
    padding-right: 20px;
  }
}

.fw#home #category .category-list .category-name:after {
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\EA0B";
  display: inline-block;
  font-family: "iconfont" !important;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list .category-name:after {
    font-size: 12px;
  }
}

.fw#home #category .category-list_bg {
  padding: 0;
  background-color: #000;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg {
    padding: 15px;
  }
}

.fw#home #category .category-list_bg a {
  text-decoration: none !important;
}

.fw#home #category .category-list_bg .category-img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.fw#home #category .category-list_bg .line1:before, .fw#home #category .category-list_bg .line1:after,
.fw#home #category .category-list_bg .line2:before,
.fw#home #category .category-list_bg .line2:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fw#home #category .category-list_bg .line1:before,
.fw#home #category .category-list_bg .line2:before {
  width: 1px;
  height: 0%;
}

.fw#home #category .category-list_bg .line1:after,
.fw#home #category .category-list_bg .line2:after {
  width: 0%;
  height: 1px;
}

.fw#home #category .category-list_bg .line1 {
  width: -webkit-calc( 100% - 30px);
  width: calc( 100% - 30px);
  height: -webkit-calc( 100% - 30px);
  height: calc( 100% - 30px);
  position: absolute;
  left: 15px;
  top: 15px;
  right: 0;
  bottom: 0;
}

.fw#home #category .category-list_bg .line1:before {
  left: 0;
  bottom: 0;
}

.fw#home #category .category-list_bg .line1:after {
  left: 0;
  top: 0;
}

.fw#home #category .category-list_bg .line2:before {
  right: 0;
  top: 0;
}

.fw#home #category .category-list_bg .line2:after {
  right: 0;
  bottom: 0;
}

.fw#home #category .category-list_bg a {
  padding: 80px 30px 30px;
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg a {
    padding: 15px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg a {
    height: 207px;
  }
}

.fw#home #category .category-list_bg a:hover .category-img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.fw#home #category .category-list_bg a:hover .line1:before,
.fw#home #category .category-list_bg a:hover .line2:before {
  height: 100%;
}

.fw#home #category .category-list_bg a:hover .line1:after,
.fw#home #category .category-list_bg a:hover .line2:after {
  width: 100%;
}

.fw#home #category .category-list_bg .category-txt {
  max-width: 100%;
}

.fw#home #category .category-list_bg .category-name {
  min-height: 66px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg .category-name {
    min-height: auto;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg .category-name {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg .category-name {
    margin-bottom: 10px;
  }
}

.fw#home #category .category-list_bg .category-name:before {
  width: 46px;
  content: "";
  display: block;
  height: 1px;
  background-color: #007749;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg .category-name:before {
    width: 40px;
  }
}

@media screen and (max-width: 640px) {
  .fw#home #category .category-list_bg a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .fw#home #category .category-list_bg .category-txt {
    display: none;
  }
  .fw#home #category .category-list_bg .category-name {
    padding-bottom: 0;
  }
  .fw#home #category .category-list_bg .category-name:before {
    display: none;
  }
}
